.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
/* font-family: 'Courgette', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Indie Flower', cursive; */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titulo{
  color: #1799E7!important;
  font-family: 'Gloria Hallelujah', cursive!important;
  padding-top: 20px;
  font-size: 35px !important;
}.signup{
  font-family: 'Rock Salt', cursive;
  color: #4AE8C5;
}
.subtitulo{
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 100px;
}
.opacity{
  height: 110px!important;
  background-color: #A8BCA1 !important;
}
.subtitulo-texto{
  color: white !important;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
}
.top{
  background-color: #89A38B;
  height: 100px;
}
.navbar{
  background-color: #BFC0C0 !important;
}
.slide{
  min-height: 600px !important;
  height: 600px !important;
  width: 100%;
}
.space{
  margin-top: 60px;
  margin-bottom: 60px;
}
.semi{
  width: 100%;
  height: 600px;
  border-left: 500px solid #94AE89;
}
.final{
  width: 100%;
  height: 65px;
  background-color: #606D29;
}
.card{
  margin-bottom: 50px;
  padding-top: 50px !important;
  margin-top: 50px !important;
}
.card-post{
  margin-left: 350px;
  margin-top: 70px;
}
.card-title{
  color: #149E85 !important;
  font-family: 'Patrick Hand', cursive;
}
.header_text{
  margin-left: 1.5em !important;
  font-family: 'Merriweather', serif !important;
  font-weight: 900 !important;
  color: white !important;
  font-size: 5em !important;
  line-height: 1.2em !important;
  width: 30% !important;
  margin-top: 60px !important;
}

.cta_header{
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  position: relative !important;
  left: 26em !important;
  top:15em !important;
  margin: 10px !important;

}
.cta_header:hover{
  opacity: 0.7;
}
.header{
  position: relative !important;
  height: 800px !important;
}
.button-cta{
color: white !important;
}